*{
    box-sizing: border-box;
}
html,
body{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.main{
    padding-top: 24px;
}
a:focus{
    outline: none;
    text-decoration: none;
}
/* HELPERS */
.clearfix:after{
    display: block;
    content: "";
    clear: both;
}
.no-padding{
    padding: 0;
}
/* FONTS */



/*HEADER*/

/*HEADER-TOP*/
.header-top{
    background-color: #f4f4f4;
    line-height: 50px;
    color: #53555a;
}
.header-top .header-top__link{
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    color: inherit;
    line-height: inherit;
    transition: 0.2s ease color;
}
.header-top .header-top__link:hover{
    color: #30bbef;
    text-decoration: none;
    transition: 0.2s ease color;
}
/*HEADER-MIDDLE*/
.header-middle{
    padding-top: 24px;
    padding-bottom: 24px;
}
.header-middle__logo-link{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.header-middle__logo-link:hover{
    color: rgb(0, 0, 0);
    text-decoration: none; 
}
.header-middle__logo-text{
    font-size: 2em;
}
.header-middle__contacts{
    margin-bottom: 18px;
}
.header-middle__contacts-phone{
    float: left;
}
.header-middle__contacts-address{
    float: right;
}
.header-middle__search-form{
    display: block;
    width: 100%;
}
.header-middle__search-input{
    display: block;
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 2px;
    padding: 8px;
}
.header-middle__basket-link{
    display: block;
    color: rgb(83, 85, 90);
    transition: 0.2s ease all;
    background-color: #f9f9f9;
}
.header-middle__basket-link:hover{
    color: #30bbef;
    transition: 0.2s ease all;
}
.header-middle__basket{
    padding: 16px;
    /*border: 1px solid #aaa;*/
    border-radius: 2px;
}
.header-middle__basket-icon-wrap{
    float: left;
    margin-right: 24px;
}
.header-middle__basket-icon{
    display: block;
    font-size: 3em;
}
.header-middle__basket-info{
    float: left;
}
/*HEADER-BOTTOM*/
.header-bottom{
    background-color: #018dc2;
    line-height: 60px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.header-bottom__link{
    display: block;
    text-align: center;
    color: inherit;
}
.header-bottom__link{
    transition: 0.2s ease background;
}
.header-bottom__link:hover{
    text-decoration: none;
    color: inherit;
    background-color: #61b7d8;
    transition: 0.2s ease background;
}
.header-bottom__link--catalog{
    background-color: #61b7d8;
}
.header-bottom__link--catalog:hover{
    background-color: #6bcaee;
}
.catalog-dropdown__container{
    position: relative;
}
.catalog-dropdown{
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.catalog-dropdown--close{
    display: none;
}
.catalog-dropdown__elem{
    position: relative;
    transition: all 0.2s ease;
}
.catalog-dropdown__link{
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 24px;
    font-weight: 400;
    color: #666;
    transition: all 0.2s ease;
}
.catalog-dropdown__link:hover{
    text-decoration: none;
    color: #30bbef;
    transition: all 0.2s ease;
}
.catalog-dropdown__elem:after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #30bbef;
    opacity: 0;
    transition: all 0.2s ease;
}
.catalog-dropdown__elem:hover:after{
    opacity: 1;
    transition: all 0.2s ease;
}
.catalog-dropdown__category-name{
    float: left;
}
.catalog-dropdown__category-icon{
    float: right;
    line-height: 24px;
}
.catalog-dropdown__submenu{
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 100%;
    min-width: 100%;
    padding: 24px;
    opacity: 0;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
    transition: all 0.4s ease;
}
.catalog-dropdown__elem:hover .catalog-dropdown__submenu{
    visibility: visible;
    left: 100%;
    opacity: 1;
    transition: all 0.4s ease;
}
.product-card{
    height: 320px;
    border: 1px solid #eee;
    transition: all 0.2s ease;
}
.product-card:hover{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease;
}
.product-cart__image-link{
    display: block;
    height: 232px;
    width: 232px;
    background-size: cover;
}
/* CATALOG INDEX */
.catalog-index-section{
    border: 1px solid #f1f1f1;
    margin-bottom: 30px;
}
/* CATALOG MAIN */
.catalog-sections-list{
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #f0f0f0;
}
.catalog-sections-list__elem{

}
.catalog-sections-list__link{
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    color: #53555a;
    transition: all 0.2s ease;
}
.catalog-sections-list__link:hover{
    background-color: #f0f0f0;
    color: #30bbef;
    text-decoration: none;
    transition: all 0.2s ease;
}
/* PRODUCT CARD */
.product-cart{
    position: relative;
    height: 400px;
    margin-bottom: 12px;
    border: 1px solid #eee;
}
.product-cart__image-container{
    height: 220px;
}
.product-cart__info{
    border-top: 1px solid #eee;
}
.product-cart__controls-wrap{
    position: absolute;
    bottom: 0px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: rgba(240, 240, 240, 0.5);
    border-top: 1px solid #eee;
}
.product-cart__quantity-wrap{
    width: 80%;
    margin: 0 auto;
    border: 1px solid #eee;
    border-radius: 5px;
}
.product-cart__quantity-input{
    display: block;
    width: 68%;
    height: 32px;
    float: left;
    border: none;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    text-align: center;
    font-weight: 700;
    font-size: 1.5em;
}
.product-cart__quantity-input:focus{
    outline: none;
}
.product-cart__btn{
    display: block;
    float: left;
    width: 16%;
    height: 32px;
    background-color: #fff;
    font-size: 12px;
    text-align: center;
    border: none;
    transition: all 0.2s ease;
}
.product-cart__btn:hover{
    background-color: #eee;
    transition: all 0.2s ease;
}
.product-cart__btn:focus{
    outline: none;
}