*{
    box-sizing: border-box;
}
html,
body{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.main{
    padding-top: 24px;
}
a:focus{
    outline: none;
    text-decoration: none;
}
/* HELPERS */
.clearfix:after{
    display: block;
    content: "";
    clear: both;
}
.no-padding{
    padding: 0;
}
/* FONTS */



/*HEADER*/

/*HEADER-TOP*/
.header-top{
    background-color: #f4f4f4;
    line-height: 50px;
    color: #53555a;
}
.header-top .header-top__link{
    display: inline-block;
    padding-left: 12px;
    padding-right: 12px;
    color: inherit;
    line-height: inherit;
    transition: 0.2s ease color;
}
.header-top .header-top__link:hover{
    color: #30bbef;
    text-decoration: none;
    transition: 0.2s ease color;
}
/*HEADER-MIDDLE*/
.header-middle{
    padding-top: 24px;
    padding-bottom: 24px;
}
.header-middle__logo-link{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.header-middle__logo-link:hover{
    color: rgb(0, 0, 0);
    text-decoration: none; 
}
.header-middle__logo-text{
    font-size: 2em;
}
.header-middle__contacts{
    margin-bottom: 18px;
}
.header-middle__contacts-phone{
    float: left;
}
.header-middle__contacts-address{
    float: right;
}
.header-middle__search-form{
    display: block;
    width: 100%;
}
.header-middle__search-input{
    display: block;
    width: 100%;
    border: 2px solid #ddd;
    border-radius: 2px;
    padding: 8px;
}
.header-middle__basket-link{
    display: block;
    color: rgb(83, 85, 90);
    transition: 0.2s ease all;
    background-color: #f9f9f9;
}
.header-middle__basket-link:hover{
    color: #30bbef;
    transition: 0.2s ease all;
}
.header-middle__basket{
    padding: 16px;
    /*border: 1px solid #aaa;*/
    border-radius: 2px;
}
.header-middle__basket-icon-wrap{
    float: left;
    margin-right: 24px;
}
.header-middle__basket-icon{
    display: block;
    font-size: 3em;
}
.header-middle__basket-info{
    float: left;
}
/*HEADER-BOTTOM*/
.header-bottom{
    background-color: #018dc2;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.header-bottom__link{
    display: block;
    line-height: 60px;
    text-align: center;
    color: inherit;
}
.header-bottom__link{
    transition: 0.2s ease background;
}
.header-bottom__link:hover{
    text-decoration: none;
    color: inherit;
    background-color: #61b7d8;
    transition: 0.2s ease background;
}
.header-bottom__link--catalog{
    display: block;

}
.header-bottom__link--catalog_btn{
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background-color: #61b7d8;
}
.header-bottom__link--catalog_btn:focus{
    outline: none;
}
.header-bottom__link--catalog:hover{
    background-color: #6bcaee;
}
.catalog-dropdown__container{
    position: relative;
}
.catalog-dropdown{
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    z-index: 500;
}
.catalog-dropdown--close{
    display: none;
}
.catalog-dropdown__elem{
    position: relative;
    border-bottom: 1px solid rgb(235, 235, 235);
    transition: all 0.2s ease;
}
.catalog-dropdown__elem:last-child{
    border-bottom: none;
}
.catalog-dropdown__link{
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #666;
    transition: all 0.2s ease;
}
.catalog-dropdown__link:hover{
    text-decoration: none;
    color: #30bbef;
    transition: all 0.2s ease;
}
.catalog-dropdown__elem:after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #30bbef;
    opacity: 0;
    transition: all 0.2s ease;
}
.catalog-dropdown__elem:hover:after{
    opacity: 1;
    transition: all 0.2s ease;
}
.catalog-dropdown__category-name{
    font-size: 0.9em;
    width: 92%;
    display: block;
}
.catalog-dropdown__category-icon{
    position: absolute;
    top: calc(50% - 10px);
    right: 12px;
}
.catalog-dropdown__submenu{
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 100%;
    padding: 24px;
    opacity: 0;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
    transition: all 0.4s ease;
    z-index: 500;
}
.catalog-dropdown__submenu-link{
    
}
.catalog-dropdown__elem:hover .catalog-dropdown__submenu{
    visibility: visible;
    left: 100%;
    opacity: 1;
    transition: all 0.4s ease;
}
.product-card{
    height: 320px;
    border: 1px solid #eee;
    transition: all 0.2s ease;
}
.product-card:hover{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease;
}
.product-cart__image-link{
    display: block;
    height: 232px;
    width: 232px;
    background-size: cover;
}
/* CATALOG INDEX */
.catalog-index-section{
    position: relative;
    height: 320px;
    border: 1px solid #f1f1f1;
    margin-bottom: 30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.4s ease;
}
.catalog-index-section:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.4s ease;
}
.catalog-index-section__image{
    
}
.catalog-index-section__name{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 1.3em;
    text-align: center;
    color: #000;
    background-color: rgba(230, 230, 230, 0.5);
    transition: all 0.4s ease;
}
.catalog-index-section:hover .catalog-index-section__name{
    background-color: rgb(230, 230, 230);
    transition: all 0.4s ease;
}
.catalog-index-section__name-text{
    display: table-cell;
    margin: 0 auto;
    height: 120px;
    vertical-align: middle;
}
/* CATALOG MAIN */
.catalog-sections-list{
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #f0f0f0;
}
.catalog-sections-list__elem{

}
.catalog-sections-list__link{
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    color: #53555a;
    transition: all 0.2s ease;
}
.catalog-sections-list__link:hover{
    background-color: #f0f0f0;
    color: #30bbef;
    text-decoration: none;
    transition: all 0.2s ease;
}
.catalog-dropdown__submenu-link{
    font-size: 0.8em;
    line-height: 12px; 
}
/* PRODUCT CARD */
.product-cart{
    position: relative;
    height: 400px;
    margin-bottom: 12px;
    border: 1px solid #eee;
}
.product-cart__image-container{
    
}
.product-cart__info-wrap{
    border-top: 1px solid #eee;
}
.poduct-cart__info{
    
}
.product-cart__bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #eee;
}
.product-cart__bottom-info{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
}
.product-cart__quantity-wrap{
    float: right;
    font-size: 1.2em;
}
.product-cart__quantity-text{

}
.product-cart__quantity{
    font-weight: 700;
}
.product-cart__price-wrap{
    float: left;
    font-size: 1.4em;
}
.product-cart__price{
    font-weight: 700;
}
.product-cart__price-ruble{

}
.product-cart__controls-wrap{
}
.product-cart__controls{
    border-top: 1px solid #eee;

}
.product-cart__controls>*{
    float: left;
    height: 42px;
    display: block;
}
.product-cart__quantity-btn{
    width: 16.5%;
    border: none;
    padding: 0;
    display: block;
    background-color: #fff;
    transition: all 0.2s ease;
}
.product-cart__quantity-btn:disabled{
    background-color: #444;
}
.product-cart__quantity-btn[disabled="true"]{
    background-color: #444;
}
.product-cart__quantity-btn['disabled="true"']{
    background-color: #444;
}
.product-cart__quantity-btn:focus{
    outline: none;
}
.product-cart__btn--minus{
    border-right: 1px solid #eee;
}
.product-cart__btn--minus:hover{
    background-color: rgba(255, 0, 0, 0.2);
    transition: all 0.2s ease;
}
.product-cart__btn--plus{
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
}
.product-cart__btn--plus:hover{
    background-color: rgba(0, 255, 0, 0.2);
    transition: all 0.2s ease;
}
.product-cart__quantity-input{
    width: 33.3%;
    margin: 0;
    border: none;
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
}
.product-cart__quantity-input:focus{
    outline: none;
}
.product-cart__quantity-input:focus{
    outline: none;
}
.product-cart__basket-btn{
    width: 33.7%;
    border: none;
    background-color: #fff;
    transition: all 0.4s ease;
}
.product-cart__basket-btn:hover{
    background-color: #30bbef;
    color: #fff;
    transition: all 0.4s ease;
}
.product-cart__basket-btn{
    outline: none;
}
/* BASKET */
.basket-table td{
    width: 100%;
    padding: 12px;
}
.basket-table th{
    padding: 12px;
    text-align: center;
}
.basket-table__quantity-control{
    width: 120px;
    margin: 0 auto;
}
.basket-sidepanel{
    position: relative;
    background-color: #f5f5f5;
    padding: 8px 24px 24px 24px;
}
.basket-sidepanel__separator{
    height: 1px;
    background-color: #000;
    margin-top: 24px;
    margin-bottom: 24px;
}
.basket-sidepanel__table{
    width: 100%;
    margin-bottom: 24px;
}
.basket-sidepanel__table td{
    padding: 4px 12px;
}
.basket-sidepanel__order-link{
    display: block;
    line-height: 2.2rem;
    padding: 14px 17px;
    font-size: 1.8rem;
    text-decoration: none;
    color: #000;
    text-align: center;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    transition: all 0.2s ease;
}
.basket-sidepanel__order-link:hover{
    text-decoration: none;
    background: #30bbef;
    color: #fff;
    transition: all 0.2s ease;
}